/*---------------------------------------------------------------*/
/* Create the deduplicated storage pool                         */
/*---------------------------------------------------------------*/
define stgpool DEDUPPOOL stgtype=directory maxwriters=nolimit description="Deduplicated disk storage"

/* Create the deduplicated storage pool directories */
define stgpooldirectory DEDUPPOOL {{ tsm_stg_paths }}
