/*---------------------------------------------------------------------*/
/* DB BACKUP, as long as needed beginning @ backup start + 14 hours    */
/*---------------------------------------------------------------------*/
/* Create the device class of type file for database backups */
define devclass DBBACK_FILEDEV devtype=file maxcapacity={{ maxcap }} mountlimit=32 directory={{ dbback_dir_paths }}

/* Set the DB recovery properties */
set dbrecovery DBBACK_FILEDEV numstreams={{ dbbk_streams }} compress={{ dbbk_compress }} password={{ dbbk_password }}

/* Setup DB backup maintenance script and schedule to run at 9AM */
def script DBBACKUP description="Run full TSM server database backup and remove old backups."
upd script DBBACKUP "backup db devc=DBBACK_FILEDEV type=full numstreams={{ dbbk_streams }} {{ dbbk_compress }} wait=yes" line=010
upd script DBBACKUP "if(error) goto done" line=020
upd script DBBACKUP "backup volhist" line=030
upd script DBBACKUP "backup devconf" line=040
upd script DBBACKUP "delete volhist type=dbb todate=today-5 totime=now" line=050
upd script DBBACKUP "done:exit" line=060
def sched DBBACKUP type=admin cmd="run DBBACKUP" active=yes description="Run database backup and remove old backups." startdate=today starttime={{ backup_start_plus_fourteen }} dur=15 durunit=minutes period=1 perunit=day
