---
- name: Uninstall BA Client on Linux
  hosts: linux
  gather_facts: yes
  become: true

  vars_files:
    - ../../vars/main.yml

  tasks:
    - name: Uninstall BA Client
      sp_baclient_install:
        ba_client_version: "{{ ba_client_version }}"
        state: absent
        package_source: "{{ linux_package_source }}"
        install_path: "/opt/tivoli/tsm/client/ba/bin"
      register: uninstall_result

    - name: Show uninstall result
      debug:
        var: uninstall_result
